---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import AboutHeroImage from '../assets/about.jpg';
import { Image } from 'astro:assets';
const base = import.meta.env.BASE_URL;

---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<section class="hero">
		<h1>
			Hi, I'm Alberto
		</h1>
		<p class="justified-text">
			I'm a Data Analyst with a Software Engineering background and 5+ years of experience working with 
			cross-functional teams across the U.S. and the U.K. I specialize in SQL, Python, Power BI, and Excel, 
			transforming raw information into insights that support business decisions.
		</p>
		<div class="cta-buttons">
			<a href="#projects" class="primary-btn">Projects</a>
			<a href="#about" class="primary-btn">About Me</a>
			<a href="#contact" class="primary-btn">Contac Me</a>
			<a href="CV-AlbertoCastro.pdf" download="CV-AlbertoCastro.pdf" class="secondary-btn">Download CV</a>
		</div>
	</section>

	<section id="projects" class="projects-section">
		<h2>Featured Projects</h2>

		<div class="project-grid">
			<div class="project-card">
				<h3>Gym Admin Database</h3>
				<p>Relational SQL database designed for a multi-location gym management system. Includes normalized schema design, entity relationships, and analytical queries to support operational and business reporting.</p>
				<p>Technologies:<br><br> SQL (DDL, DML, JOINs, CTEs, Aggregations)</p>
				<a href="/acanalytics/projects/gym-admin/" target="_blank">View Project →</a>
			</div>

			<div class="project-card">
				<h3>Gym Admin Database BI Report</h3>
				<p>Business Intelligence report built using data extracted from SQL Server and transformed within Power BI. Includes data cleaning, modeling, DAX measures, and revenue-focused dashboards to support business decision-making.</p>
				<p>Technologies:<br><br> Power BI (Power Query, DAX, Data Modeling), SQL</p>
				<a href="/acanalytics/projects/gym-admin-report/" target="_blank">View Project →</a>
			</div>

			<div class="only-text-link">
				<a href="/acanalytics/projects/">See all</a>
			</div>
		</div>
	</section>

	<section id="about" class="projects-section">
		<h2>About Me</h2>

		<div class="hero-image-container">
			<Image alt="" width={300} height={300} loading="eager" src={AboutHeroImage} />
		</div>
		<p class="justified-text">
			My career began in CRM and email development, where I worked daily with PMs, designers, and engineering teams to solve technical problems, structure projects, and deliver high-impact, data-driven components used by thousands of users.
			This experience strengthened my analytical thinking, attention to detail, problem-solving mindset, and my ability to work in global, fast-paced environments. <br><br>
			Transitioning into data has been a natural evolution for me. Today, I work with SQL, Python, Power BI, Excel and build projects focused on data cleaning, visualization, and insights. I enjoy transforming raw information into something clear, usable, and valuable.
			I'm motivated by learning, building, and contributing to teams that rely on data to drive decisions.<br><br>
			If you're looking for someone analytical, curious, structured, and committed—I'd love to connect.
		</p>
	</section>

	<section id="contact" class="projects-section">
		<h2>Let's talk</h2>

		<div class="contact-me-links">
			<a href="mailto:ajcastro9726@gmail.com" class="primary-btn">
				<i class="fa-solid fa-envelope"></i> 
				Email
			</a>
			<a href="https://www.linkedin.com/in/alberto-jos%C3%A9-castro-jim%C3%A9nez-80718013a/" class="primary-btn">
				<i class="fab fa-linkedin"></i> 
				LinkedIn
			</a>
		</div>
	</section>
</BaseLayout>

