---
import "../styles/global.css";
const base = import.meta.env.BASE_URL;
---

<a id="backToHome" href={base} class="back-home-float">
  ← Back Home
</a>

<script>
  const backHome = document.getElementById("backToHome");

  if (backHome) {
    window.addEventListener("scroll", () => {
      if (window.scrollY > 25) {
        backHome.classList.add("hide");
      } else {
        backHome.classList.remove("hide");
      }
    });
  }
</script>
