---
import BackToHome from "../../components/BackToHome.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<BackToHome/>
	<section class="projects-section">
		<h2>Featured Projects</h2>

		<div class="project-grid">
			<div class="project-card">
				<h3>Gym Admin Database</h3>
				<p>Relational SQL database designed for a multi-location gym management system. Includes normalized schema design, entity relationships, and analytical queries to support operational and business reporting.</p>
				<p>Technologies:<br><br> SQL (DDL, DML, JOINs, CTEs, Aggregations)</p>
				<a href="/acanalytics/projects/gym-admin/" target="_blank">View Project →</a>
			</div>

			<div class="project-card">
				<h3>Gym Admin Database BI Report</h3>
				<p>Business Intelligence report built using data extracted from SQL Server and transformed within Power BI. Includes data cleaning, modeling, DAX measures, and revenue-focused dashboards to support business decision-making.</p>
				<p>Technologies:<br><br> Power BI (Power Query, DAX, Data Modeling), SQL</p>
				<a href="/acanalytics/projects/gym-admin-report/" target="_blank">View Project →</a>
			</div>

			<div class="project-card">
				<h3>Python Database Generator</h3>
				<p>Automated synthetic data generator that creates realistic CSV files and populates relational databases for testing, analytics, and BI projects using randomized and reproducible datasets.</p>
				<p>Technologies:<br><br> Python (Pandas, NumPy), Data Generation, ETL Automation</p>
				<a href="/acanalytics/projects/database-generator/" target="_blank">View Project →</a>
			</div>

		</div>
	</section>
</BaseLayout>

