---
import BackToHome from "../../components/BackToHome.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<BackToHome/>
	<section class="projects-section">
		<h2>Featured Projects</h2>

		<div class="project-grid">
			<div class="project-card">
				<h3>Gym Admin Database</h3>
				<p>SQL relational database for multi-location gym operations. Includes schema design, relationships, and queries.</p>
				<p>Technologies:<br><br> SQL</p>
				<a href="/acanalytics/projects/gym-admin/" target="_blank">View Project →</a>
			</div>

			<div class="project-card">
				<h3>Python Database Generator</h3>
				<p>CSV-to-database generator using Python, pandas, faker and randomization for synthetic datasets.</p>
				<p>Technologies:<br><br> Python (Pandas, Numpy)</p>
				<a href="/acanalytics/projects/database-generator/" target="_blank">View Project →</a>
			</div>
		</div>
	</section>
</BaseLayout>

