---
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
---

<html>
  <body>
    <h1>Mis Proyectos</h1>

    <ul>
      {projects.map((p) => (
        <li>
          <a href={`/projects/${p.slug}/`}>
            <h2>{p.data.title}</h2>
            <p>{p.data.description}</p>
          </a>
        </li>
      ))}
    </ul>
  </body>
</html>
