---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'] & { pubDate?: Date };

const { title, description, pubDate, updatedDate, heroImage } = Astro.props as Props;

// Imagen por defecto si no se define heroImage
// Cambia esta ruta por la imagen que quieres mostrar en WhatsApp
const ogImage = heroImage ?? "/assets/logo.png";
---

<html lang="es">
  <head>
    <BaseHead 
      title={title} 
      description={description} 
      image={ogImage} 
    />
  </head>

  <body>
    <Header />

    <main>
      <slot />  <!-- Para renderizar el contenido de tus páginas -->
    </main>

    <Footer />
  </body>
</html>
